.shipping {
    @include flex;

    .back-btn {
        @include square(2.5rem);
        background-color: #333; /* Dark gray background */
        color: #fff; /* White text color */
        @include flex;
        position: fixed;
        top: 2rem;
        left: 2rem;
        border-radius: 100%;
        border: none;
        outline: none;
        cursor: pointer;
        @include baseShadow;

        svg {
            transition: all 0.3s;
        }

        &:hover svg {
            transform: translateX(-0.25rem); /* Translate on hover */
        }
    }

    > form {
        max-width: 450px;
        width: 100%;
        @include flex(column, center, stretch, 2rem);
        padding: 2rem;

        > h1 {
            @include heading(2px);
            margin: 2rem;
            text-align: center;
            color: #333; /* Dark gray color */
        }

        > input,
        > select {
            border: 1px solid rgba(31, 31, 31, 0.351);
            padding: 1rem;
            outline: none;
            font-size: 1.05rem;
            border-radius: 5px;
            color: #333; /* Dark gray color */
        }

        > button {
            @include btn(1rem, #5cec5c, #0e0900); /* Vibrant green button */
            border-radius: 9px;
            font-size: 1.5rem;
            text-transform: uppercase;
            letter-spacing: 2px;
            transition: opacity 0.3s; /* Smooth opacity transition */
            &:hover {
                opacity: 0.8;
            }
        }
    }
}
